/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3/box-shadow";
$default-box-shadow-color: rgba(0,0,0,0.5);
$default-box-shadow-h-offset: .1em;
$default-box-shadow-v-offset: .2em;
$default-box-shadow-blur: .5em;

@import "compass/css3/border-radius";
$default-border-radius: 12px;

$stdLight: #D9BF8F; //light tan
$stdDark: #260B01; //raspberry chocolate
$altColor: #727D8C; //grey
$richLight: #A66329; //orange
$richDark: #592202; //brick red

/*****************
 * color schemes *
 *****************/
.stdScheme {
	background-color:$stdLight;
	color:$stdDark;
}
.richScheme {
	background-color:$richDark;
	color:lighten($altColor, 35%);
}

html {
	background-color: $altColor;
	font-size:100%;
	line-height:1.4;
	
}
body {
	@extend .stdScheme;
	width:80%;
	margin:20px auto;
	background-color:$stdLight;
	@include box-shadow(rgba(0,0,0,0.5) 0 0 20px 5px);
}
/**************
 * typography *
 **************/
p {
	margin:1em 0;
	font-family:Georgia, "Times New Roman", Times, serif;
}
h1, h2, h3, h4, h5, h6 {
	margin:1em 0;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
}
h1 {
	font-size:2.2em;
}
h2 {
	font-size:1.5em;
}
/********************
 * structure        *
 ********************/
.textualAreas {
	overflow:hidden;
	padding:0 2rem;
}
header {
	@extend .textualAreas;
	background-color: $richLight;
	color: $richDark;
	border-top:thin solid black;
	border-bottom: thick solid $altColor;
	font-size: 4em;
	box-sizing: border-box;
	padding-top:1rem;
	padding-bottom:1rem;
}
footer {
	@extend header;
	font-size:.8em;
	color: #222;
}
#main {
	@extend .textualAreas;
}
/*********************
 * block-level stuff *
 *********************/
.callout {
	@extend .richScheme;
	@extend .textualAreas;
	overflow:hidden;
	@include border-radius();
	@include single-box-shadow();
	width:80%;
	margin:0 auto;
}