<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Centered Layout</title>
<style type="text/css">
html {
	background-color:#630; /* brown */
}
body {
	background-color:#ABD4E9; /* dusty blue */
	margin:0 auto; /* THIS IS THE MAGIC */
	width:75%; /* or width:900px AND THIS IS THE MAGIC */
	max-width:800px;
	padding:0 2em;
}
header {
	padding:1.5em 0;
	background-color:#E3D4B4; /* tan */
	margin:0 -2em;
}
footer {
	padding:0.5em 15px;
	background-color:#E3D4B4; /* tan */
	margin:0 -2em;
}
pre {
	white-space:pre-wrap;
}
</style>
</head>

<body>
<header> <a href="../index.html" style="float:left; margin-left:1em;"><img src="../img/PxIcon36x36.png" border="0"></a>
	<h1 style="margin:0; text-align:center">Centered Layout Example</h1>
</header>
<p>This content will be centered in the browser window (or more accurately, the viewport).</p>
<pre>&lt;!DOCTYPE HTML&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
&lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=UTF-8&quot;&gt;
&lt;title&gt;Centered Layout&lt;/title&gt;
&lt;style type=&quot;text/css&quot;&gt;
html {
	background-color:#630; /* brown */
}
body {
	background-color:#ABD4E9; /* dusty blue */
	<strong>margin:0 auto; /* THIS IS THE MAGIC     */
	width:75%;     /* AND THIS IS THE MAGIC */</strong>
	max-width:800px;
	padding:0 2em;
}
header {
	padding:1.5em 0;
	background-color:#E3D4B4; /* tan */
	margin:0 -2em;
}
footer {
	padding:0.5em 15px;
	background-color:#E3D4B4; /* tan */
	margin:0 -2em;
}
&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;header&gt;
	&lt;h1 style=&quot;margin:0; text-align:center&quot;&gt;Centered Layout Example&lt;/h1&gt;
&lt;/header&gt;
&lt;p&gt;This content will be centered in the browser window (or more accurately, the viewport).&lt;/p&gt;
&lt;footer&gt;
	&lt;p style=&quot;font-size:smaller;&quot;&gt;2013—All rights reserved. Pixel Pro, Inc.&lt;/p&gt;
&lt;/footer&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
<pre>&nbsp;</pre>
<footer>
	<p style="font-size:smaller;">2013—All rights reserved. Pixel Pro, Inc.</p>
</footer>
</body>
</html>
